.text-color{
  color: #DAC0A3;
}
.text-color2{
  color: #FEFAF6;
}
.bg-color{
  background-color:#DAC0A3 ;
}
.bg-color-img{
  background-color:#d5cec6 ;
}
.border-color{
  border: #fff 2px solid;
  transition: 0.5s;
}
.icon-color{
  color: #102C57;
}
 .header-container {
    position: relative;
    height: 100vh; 
    width: 100%;
    overflow: hidden;
  }
  
  #particle-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; 
  }
  
  .text-overlay {
    position: relative;
    z-index: 2;
    color: dark;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
  
.shadow-img {
  box-shadow: 10px 0px 20px rgba(218,192,163, 0.6); 
}
.icon-home{
  transition: 0.3s;
}
.border-color:hover{
  border: #102C57 2px solid;
  background-color: #DAC0A3;
}
.border-color:hover .icon-home{
  color: #102C57 !important;
}
.image{
  animation: zoom 6s ease-in-out infinite both;
  -webkit-animation: zoom 6s ease-in-out infinite both;
}

@keyframes zoom {
  0% {
    transform: translateY(50px);
}
  50% {
    transform: translateY(0); 
  }
  100% {
    transform: translateY(50px);
}
}

